
# Logs
# Package.resolved (optional – keep only if you want reproducible builds)
# Podfile.lock (apps → COMMIT, libraries → optional)
# Temp files
# Thumbnails
# User-specific settings
### Archive ###
### CocoaPods ###
### Environment ###
### Fastlane ###
### MacOS ###
### Simulator ###
### Swift ###
### Swift Package Manager ###
### Xcode ###
### iOS Specific ###
*.dSYM
*.dSYM.zip
*.ipa
*.lock
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.perspectivev3
*.swiftsourceinfo
*.swp
*.tmp
*.xcarchive
*.xccheckout
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcscmblueprint
*.xcuserstate
*.xcworkspace/xcuserdata/
.AppleDouble
.DS_Store
.LSOverride
._*
.build/
.env
.swiftpm
/.build/
Carthage/Build/
Carthage/Checkouts/
DerivedData/
Library/Developer/CoreSimulator
Pods/
Secrets.xcconfig
Secrets.xcconfig
build/
build_log.txt
build_log.txt
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
mlx_model/
